.navbar{
    background-color: var(--theme);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    color: var(--white);
    font-weigth: 600;
    font-Size: 1.2rem;
    margin: 0;
}

.logolink{
    color: var(--white);
    opacity: 0.8;
    cursor: pointer;
}

.logolink:hover{
    opacity: 1;
    transition: all 0.3s;
}